* {
    margin: 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

body {
    padding: 10px;
}

h1, h2, h3 {
    margin-top: 10px;
    font-size: 18px;
}

.zq-main {
    width: 800px;
}

.zq-main img {
    max-width: 100%;
    min-width: 80%;
}

.zq-main svg {
    display: none;
}

.zq-main p {
    margin: 0 0 !important;
}

li {
    list-style-type: none;
    text-align: left;
}

.line-numbers-rows {
    display: none;
}

/*hljs*/
.pre-numbering, .docsify-copy-code-button, .widget-codetool {
    display: none !important;
}

.q-code {
    background: rgb(233,236,239);
    padding: 5px;
}
