
        <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <title>Copy Copy</title>
                <link rel="stylesheet" href="/zq-static/zq-main.css?t=1701509029.3970647">
            </head>
            <body>
            <div class="zq-main">
        <ul><li><p style="text-align:justify;">一方面，约 770 名 OpenAI 员工中有 747 人签署联名信，要求董事会辞职并恢复 Sam Altman 和 Greg Brockman 的职位。&nbsp;</p></li><li><p style="text-align:justify;">另一方面，明明内乱未平的 OpenAI 却在准时官宣 ChatGPT 的新语音功能，而已宣布从 OpenAI 离职的 Greg Brockman 也帮着转发宣传，仿佛无事发生。当时还有网友调侃道，“没见过这样的奇葩，居然在为他的前公司推广产品。”</p></li></ul> 

 <p style="text-align:center;"><img width="1044" src="https://img-blog.csdnimg.cn/img_convert/2fa850f5cc7540a8c9d23e50dc37dce9.png" alt="2fa850f5cc7540a8c9d23e50dc37dce9.png"></p> 

 <p style="text-align:justify;">在如此混乱却又莫名有序的事态发展下，马斯克在 X 上分享了一封 OpenAI 前员工们写的匿名信：“这封关于 OpenAI 的信是我刚刚收到的，（里面提到的）这些问题似</p></div></body></html>