
        <!DOCTYPE html>
            <html lang="en">
            <head>
                <meta charset="UTF-8">
                <title>Copy Copy</title>
                <link rel="stylesheet" href="/zq-static/zq-main.css?t=1701510754.7279603">
            </head>
            <body>
            <div class="zq-main">
        <h2 data-tool="mdnice编辑器" data-id="heading-0"><span class="content">JS复制图片到剪切板</span><span class="suffix"></span></h2>

<p data-tool="mdnice编辑器"><img src="https://p3-juejin.byteimg.com/tos-cn-i-k3u1fbpfcp/967162187e49423183f318e5959ffb17~tplv-k3u1fbpfcp-zoom-in-crop-mark:1512:0:0:0.awebp" alt="bg.png" loading="lazy" class="medium-zoom-image">

之前项目中有遇到点击某按钮，直接复制页面中的图片二维码，一番搜索，获悉<strong>clipboard</strong>，但是无法复制图片，只能</p></div></body></html>