<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Copy Copy</title>
<link href="/static/zq-css/zq-main.css?t=1701510754.7279603" rel="stylesheet"/>
</head>
<body>
<div class="zq-main">
<h2 data-id="heading-0" data-tool="mdnice编辑器"><span class="content">JS复制图片到剪切板</span><span class="suffix"></span></h2>
<p data-tool="mdnice编辑器"><img alt="bg.png" class="medium-zoom-image" loading="lazy" src="/static/p0.webp"/>
之前项目中有遇到点击某按钮，直接复制页面中的图片二维码，一番搜索，获悉<strong>clipboard</strong>，但是无法复制图片，只能</p></div></body></html>